<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Revoluna</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Revoluna</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array></array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>revoluna.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>revoluna</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.860967636914-183a1dc9b04iio0r79mo2t565q14n8lr</string>
        </array>
      </dict>
    </array>
    <key>GIDClientID</key>
    <string>860967636914-183a1dc9b04iio0r79mo2t565q14n8lr.apps.googleusercontent.com</string>
    <key>FlutterDeepLinkingEnabled</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Deseja poder saber quais oportunidades de plantão estão mais próximas?</string>
    <key>NSCameraUsageDescription</key>
    <string>Deseja poder tirar uma foto de perfil com a sua câmera?</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Deseja poder escolher uma foto de perfil da sua galeria?</string>
    <key>PermissionGroupNotification</key>
    <string>Deseja ser avisado quando surgirem vagas e outros alertas relevantes?</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Usamos esta informação para fornecer anúncios e conteúdo personalizado e melhorar sua experiência no aplicativo.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Usamos sua localização para te ajudar a traçar rotas para os plantões utilizando os aplicativos de navegação.</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>waze</string>
      <string>comgooglemaps</string>
      <string>taxis99</string>
      <string>whatsapp</string>
      <string>googlegmail</string>
      <string>ms-outlook</string>
    </array>
  	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
